<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full h-full bg-zinc-900 text-white">
        <div class="nav mb-10">
            <a class="text-blue-500" href="/read">Back To Read</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3">Create User</h1>
        <hr>
        <form action="/create" method="post">
            <input class="px-5 py-3  border-2 rounded-lg outline-none bg-transparent" name="name" type="text"
                placeholder="name">
            <input class="px-5 py-3  border-2 rounded-lg outline-none bg-transparent" name="email" type="text"
                placeholder="email">
            <input class="px-5 py-3  border-2 rounded-lg outline-none bg-transparent" name="imageurl" type="text"
                placeholder="imageurl">
            <input type="submit" class="bg-blue-500 rounded-lg m-7 p-3" value="Create User">
        </form>
    </div>
</body>

</html>